.App {
  text-align: center;
  width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 10%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-left li {
    float: left;
}

.navbar-right li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sidebar-wrapper {
  height: 100%;
}

.sidebar {
  float: left;
  width: 30%;
  height: 90vh;
  background: #eee
}

.household-main {
  float: left;
  width: 70%;
  height: 90vh;
  background: lightgrey;
  color: black;
}